<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/effeckt-all.autoprefixed.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/effeckt.autoprefixed.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/modules/captions.autoprefixed.css">

    <script src="/javascripts/lib/jquery-min.js"></script>

</head>
<body>

<div id="head">
    <div id="logo">便當</div>
</div>

<div id="wrap">
    <div id="content">
        <div id="everyday">
            <h1 class="compact">好好吃饭用心生活，比什么都幸福</h1>
        </div>

        <h1 class="content-title">附近店家</h1>
        <div id="suggest-shops">

            <div class="effeckt effeckt-captions group">
                <div class="all-captions-wrap">
                    <ul id="shop-container">
                        <li class="shop">
                            <div class="shop-box">
                                <div class="introduction">
                                    <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                        <img src="/images/shop/happy-lemon.jpg" alt="" >
                                        <figcaption>
                                            <div class="effeckt-figcaption-wrap">
                                                <p>地址：长宁区长宁路1018号龙之梦购物中心B2楼通往地铁2号线走廊中(近凯旋路)</p>
                                                <p>电话：021-61157540</p>
                                            </div>
                                        </figcaption>
                                    </figure>

                                </div>
                                <div class="shop-name clear-both"><a target="_blank" href="/shop/320">快乐柠檬(长宁龙之梦店)</a></div>
                            </div>
                        </li>

                        <li class="shop">
                            <div class="shop-box">
                                <div class="introduction">
                                    <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                        <img src="/images/shop/coco.jpg" alt="" >
                                        <figcaption>
                                            <div class="effeckt-figcaption-wrap">
                                                <p>地址：长宁区定西路1273号(近安化路)</p>
                                                <p>电话：021-62520179,18201772805</p>
                                            </div>
                                        </figcaption>
                                    </figure>

                                </div>
                                <div class="shop-name clear-both"><a target="_blank" href="/shop/320">都可茶饮(定西路店)</a></div>
                            </div>
                        </li>

                        <li class="shop">
                            <div class="shop-box">
                                <div class="introduction">
                                    <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                        <img src="/images/shop/xianyuxian.jpg" alt="" >
                                        <figcaption>
                                            <div class="effeckt-figcaption-wrap">
                                                <p>地址：长宁区凯旋路200号</p>
                                                <p>电话：021-32170172</p>
                                            </div>
                                        </figcaption>
                                    </figure>

                                </div>
                                <div class="shop-name clear-both"><a target="_blank" href="/shop/320">鲜芋仙(凯旋路店)</a></div>
                            </div>
                        </li>

                        <li class="shop">
                            <div class="shop-box">
                                <div class="introduction">
                                    <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                        <img src="/images/source/order.png" alt="" >
                                        <figcaption>
                                            <div class="effeckt-figcaption-wrap">
                                                <p>滑Q的仙草搭配濃醇的奶茶，帶來絕對多層次的口感享受。</p>
                                            </div>
                                        </figcaption>
                                    </figure>

                                </div>
                                <div class="shop-name clear-both"><a href="#">快乐柠檬(虹口龙之梦店)</a></div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>


        <h1 class="content-title clear-both">DIY贴士</h1>
        <div id="suggest-diy">
            <div id="suggest-div-container">
                <div class="pre diy-module"><a href="javascript:void(0);" class="btn_f_pre" title="向前"></a></div>
                <div class="con diy-module">
                    <div class="v_content">
                        <div  class="v_content_list">
                            <ul>
                                <li><a target="_blank" href="http://www.xiachufang.com/recipe/262562/"><img src="/images/DIY/262562.1.jpg" alt="蜂蜜柚子茶" /></a>
                                    <h4><a target="_blank" href="http://www.xiachufang.com/recipe/262562/">蜂蜜柚子茶</a></h4>
                                </li>
                                <li><a href="#"><img src="/images/source/order.png" alt="海贼王" /></a><h4><a href="#">海贼王</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="海贼王" /></a><h4><a href="#">海贼王</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="海贼王" /></a><h4><a href="#">海贼王</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="哆啦A梦" /></a><h4><a href="#">哆啦A梦</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="哆啦A梦" /></a><h4><a href="#">哆啦A梦</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="哆啦A梦" /></a><h4><a href="#">哆啦A梦</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="哆啦A梦" /></a><h4><a href="#">哆啦A梦</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="火影忍者" /></a><h4><a href="#">火影忍者</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="火影忍者" /></a><h4><a href="#">火影忍者</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="火影忍者" /></a><h4><a href="#">火影忍者</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="火影忍者" /></a><h4><a href="#">火影忍者</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="火影忍者" /></a><h4><a href="#">葫芦娃</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="火影忍者" /></a><h4><a href="#">葫芦娃</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="火影忍者" /></a><h4><a href="#">葫芦娃</a></h4></li>
                                <li><a href="#"><img src="/images/source/order.png" alt="火影忍者" /></a><h4><a href="#">葫芦娃</a></h4></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="next diy-module"><a href="javascript:void(0);" class="btn_f_next" title="向后"></a></div>
            </div>
        </div>






    </div>
</div>

<div id="footer">
    <div id="footer-content">
        <div id="footer-content1">
            <span id="website-introduce">
                <div id="website-introduce-title">biandang.la</div>
                <div id="website-introduce-desc">再繁忙的日子里，也要珍惜那些一起享受下午茶的时光。</div>
            </span>
            <span id="website-introduce-img">
                <div id="tea-time">
                    <img id="tea-time-img" src="/images/source/tea.jpg">
                </div>
            </span>
        </div>
        <div id="footer-content2">
            <span>大骏制造 © 2012－2013 biandang.la, all rights reserved</span>
        </div>
    </div>
</div>


<script src="/javascripts/page/home.js"></script>

</body>
</html>