<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/effeckt.autoprefixed.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/effeckt.css">
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/demo/demo.autoprefixed.css">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/modules/captions.autoprefixed.css">

    <script src="/javascripts/lib/jquery-min.js"></script>

</head>
<body>

<div id="head">
    <div id="logo">蘭亭</div>
</div>

<div id="box-left">

    <div id="navigation">
        <div id="item-navigation">
            <!--<div id="item-title" class="nav-content">全部菜品》</div>-->
            <ul class="nav-content">
                <li class="nav-ul-title"><div>全部菜品</div></li>
                <!--<li  class="distance"><div>distance</div></li>-->
                <li class="nav-ul-li"><div><a href="#">招牌菜</a></div></li>
                <li class="nav-ul-li"><a href="#">冷菜</a></li>
                <li class="nav-ul-li"><a href="#">热菜</a></li>
                <li class="nav-ul-li"><a href="#">主食</a></li>
                <li class="nav-ul-li"><a href="#">酒水</a></li>
            </ul>
        </div>

        <div id="order">
            <!--<div id="order-title" class="nav-content">您的菜单明细</div>-->
            <ul>

                <li data-effeckt-tooltip-text="I appear on top." class="effeckt-tooltip" data-effeckt-tooltip-type="bubble" data-effeckt-tooltip-position="top" >榄菜四季豆<span></span></li>
                <li ><a href="#">鱼翅鲜虾饺</a></li>
                <li ><a href="#">及第粥</a></li>
                <li ><a href="#">豆豉排骨</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="box-center" >
    <div id="center-content" >

        <div class="clear-both">招牌菜</div>
        <div class="effeckt effeckt-captions group">
            <div class="all-captions-wrap">
                <ul>


                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-8">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-8">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>


                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-8">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-8">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>

                </ul>
            </div>
        </div>






        <div class="clear-both">冷菜</div>
        <div class="effeckt effeckt-captions group">
            <div class="all-captions-wrap">
                <ul>


                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-8">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-8">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-8">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>


                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-8">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-8">
                            <img src="/images/source/order.png" alt="" width="240px" height="180px">
                            <figcaption>
                                <div class="effeckt-figcaption-wrap">
                                    <h3>口碑</h3>
                                    <p>点心味道也还可以，就是不是特别美味</p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>

                </ul>
            </div>
        </div>







    </div>
</div>



</body>
</html>