<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/effeckt-all.autoprefixed.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/effeckt.autoprefixed.css">
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/effeckt.css">-->

    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/modules/list-items.autoprefixed.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/modules/captions.autoprefixed.css">
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/demo/demo.autoprefixed.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/modules/modals.autoprefixed.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/effeckt/modules/modals.css">-->

    <script src="/javascripts/lib/jquery-min.js"></script>
    <!--<script src="/javascripts/lib/tabs.js"></script>-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>-->
    <!--<script src="/javascripts/lib/modals.js"></script>-->
    <!--<script src="/javascripts/lib/positional-modals.js"></script>-->
    <script src="/javascripts/page/shop.js"></script>
</head>
<body>

<nav class="effeckt-off-screen-nav effeckt-off-screen-nav-top-overlay effeckt-show" id="effeckt-off-screen-nav">

    <h4>
        <span id="effeckt-off-screen-nav-title">订单详情</span>
        <a href="#0" id="effeckt-off-screen-nav-close" class="effeckt-off-screen-nav-close">×</a>
    </h4>

    <ul>
        <li style="">
            <a href="#0">
                <span class="details-no">序号</span>
                <span class="details-name">品名</span>
                <span class="details-size">尺寸/温度</span>
                <span class="details-price">单价</span>
                <span class="details-num">数量</span>
                <span class="details-subtotal">小计</span>
                <span class="details-who">下单人</span>
            </a>
        </li>
        <li class="details-order" style=""><a href="#0">Little</a></li>
        <li class="details-order" style=""><a href="#0">Piggy</a></li>
        <li class="details-order" style=""><a href="#0">Went</a></li>
        <li class="details-order" style=""><a href="#0">To</a></li>
        <li class="details-order" style=""><a href="#0">Market</a></li>
    </ul>

    <div id="order-total-summary">
        <span class="total-item">
            <span>总份数:&nbsp;</span><span id="total-num">12</span>
        </span>
        <span class="total-item">
            <span>下单人数:&nbsp;</span><span id="total-people">11</span>
        </span>
        <span class="total-item">
            <span>总价:&nbsp;</span><span id="total-price">128</span><span>元</span>
        </span>
    </div>

    <div id="order-move-forward">
        <span id="order-telephone-box">
            <span>外送电话:&nbsp;</span><span>021-50313677</span>
        </span>
        <span id="order-combine-box">
            <button id="order-combine-button"  class="effeckt-button" data-effeckt-type="fill-from-left">
                <span class="label">合并相同项</span>
            </button>
        </span>
        <span id="order-confirm-box">
            <button id="order-confirm-button"  class="effeckt-button" data-effeckt-type="fill-from-left">
                <span class="label">打完电话了</span>
            </button>
        </span>

        <div id="order-confirmed-box">
            <span>订单axc已于12:34:00确认下单</span>
        </div>

    </div>


</nav>



<!--<div class="effeckt-modal-wrap" id="effeckt-modal-wrap" style="display: none;"> &lt;!&ndash; for centering transform &ndash;&gt;-->
    <!--<div class="effeckt-modal" id="effeckt-modal">-->
        <!--<h3>Modal Dialog</h3>-->
        <!--<div class="effeckt-modal-content">-->
            <!--<p>This is a modal window.</p>-->
            <!--<button class="effeckt-modal-close">Close me!</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="effeckt-overlay" id="effeckt-overlay"></div>-->


<!--<div class="effeckt-modal-wrap md-effect-16 effeckt-show" id="effeckt-modal-wrap" style="display: block;"> &lt;!&ndash; for centering transform &ndash;&gt;-->
    <!--<div class="effeckt-modal" id="effeckt-modal">-->
        <!--<h4>还没说哪个订单呢<span><a href="javascript:void(0);"><img id="dialog-close" src="/images/source/close-white.png"></a></span></h4>-->
        <!--<div class="effeckt-modal-content">-->
            <!--<div id="name-input-wrap">-->
                <!--<input type="text" name="name" placeholder="你的大名" />-->
            <!--</div>-->
            <!--<div id="activity-input-wrap">-->
                <!--<input type="text" name="activityId" placeholder="数字或字母的订单号" />-->
            <!--</div>-->


            <!--<div id="new-activity-button-wrap" class="dialog-button-wrap">-->
                <!--<button id="new-activity-button" class="dialog-button effeckt-button" data-effeckt-type="fill-from-left">-->
                    <!--<span class="label">创建一个</span></button>-->
            <!--</div>-->
            <!--<div id="join-activity-button-wrap" class="dialog-button-wrap">-->
                <!--<button id="join-activity-button" class="dialog-button effeckt-button" data-effeckt-type="fill-from-left">-->
                    <!--<span class="label">加入这个</span></button>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div id="join-activity-wrap">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" name="activityId" />&ndash;&gt;-->
                <!--&lt;!&ndash;<div id="join-activity-button-wrap" class="dialog-button-wrap">&ndash;&gt;-->
                    <!--&lt;!&ndash;<button id="join-activity-button" class="dialog-button effeckt-button" data-effeckt-type="fill-from-left">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="label">加入这个</span></button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="effeckt-modal-close">Close me!</button>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="effeckt-tabs-wrap" data-effeckt-type='slide-right'>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="effeckt-tabs">&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#tab-1" class="effeckt-tab">Tab 1</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#tab-2" class="effeckt-tab">Tab 2</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#tab-3" class="effeckt-tab">Tab 3</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="tabs-container">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div id="tab-1" class="effeckt-tab-content">&ndash;&gt;-->
                        <!--&lt;!&ndash;<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus.</p>&ndash;&gt;-->

                        <!--&lt;!&ndash;<p>Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div id="tab-2" class="effeckt-tab-content">&ndash;&gt;-->
                        <!--&lt;!&ndash;<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor.</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div id="tab-3" class="effeckt-tab-content">&ndash;&gt;-->
                        <!--&lt;!&ndash;<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.</p>&ndash;&gt;-->

                        <!--&lt;!&ndash;<p>Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales.</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="effeckt-overlay effeckt-show" id="effeckt-overlay"></div>-->

<div id="head-pop-msg" class="disappear">
    <span id="head-pop-msg-content">已复制到剪贴板</span>
    <span id="head-pop-msg-close-wrap">
        <a href="javascript:void(0);"><img id="head-pop-msg-close" src="/images/source/close-white.png"></a>
    </span>
</div>


<div id="head">
    <!--<div id="logo">一点点</div>-->
    <div id="logo" class="head-module">便當点啦</div>
    <div id="message-box" class="head-module">
        <span id="user"><a href="javascript:void(0);"><img id="user-img" class="head-module-img" src="/images/source/user.png" /></a></span>
        <span id="cart"><a href="javascript:void(0);"><img id="cart-img" class="head-module-img" src="/images/source/cart.png" /></a></span>
    </div>
</div>


<div id="box-left">
    <div id="border">
        <div id="navigation">
            <div class="title">全部分类</div>
            <ul id="nav-ul">
                <li><a href="#招牌菜">招牌菜</a></li>
                <li>冷菜</li>
                <li>热菜</li>
                <li>主食</li>
                <li>酒水</li>
            </ul>
        </div>
        <!--<div id="join">加入</div>-->
        <div id="order">
            <div  class="title">已点</div>
            <div class="effeckt-list-wrap">
                <!--<h4>Expand In/Shrink Out</h4>-->
                <ul class="effeckt-list" data-effeckt-type="expand-in">
                    <li>榄菜四季豆
                        <span class="fr">
                            <span>5</span>
                            <span> x </span>
                            <span><a href="javascript:void(0);" class="minus"><img src="/images/source/minus-off.png" onmouseover="this.src='/images/source/minus-on.png';" onmouseout="this.src='/images/source/minus-off.png';"/></a></span>
                            <span>2</span>
                            <span><a href="javascript:void(0);" class="plus"><img src="/images/source/plus-off.png" onmouseover="this.src='/images/source/plus-on.png';" onmouseout="this.src='/images/source/plus-off.png';"/></a></span>
                        </span>
                    </li>
                    <!--<li>鱼翅鲜虾饺<span></span></li>-->
                    <li  >鱼翅鲜虾饺<span></span></li>
                    <li>豆豉排骨<span>&nbsp;</span><span class="ex-size">中/热</span><span class="isMine ex-right"><img class="check-yes" src="/images/source/checkmark-circle.png"/></span><span class="ex-num ex-right">2</span><span class="ex-right">X</span><span class="ex-price ex-right">5</span></li>
                    <li>豆豉排骨<span>&nbsp;</span><span class="ex-size">中/热</span><span class="isMine ex-right hidden"><img class="check-yes" src="/images/source/checkmark-circle.png"/></span><span class="ex-num ex-right">2</span><span class="ex-right">X</span><span class="ex-price ex-right">5</span></li>
                    <!--<figure class="effeckt-caption" data-effeckt-type="cover-push-right">-->
                    <!--<li>豆豉排骨<span>&nbsp;</span><span class="ex-size">小/热</span><span></span>-->
                        <!--<figcaption>-->
                            <!--<div class="effeckt-figcaption-wrap">-->
                                <!--<h3>Cover Push Right</h3>-->
                                <!--<p>Lorem ipsum dolar.</p>-->
                            <!--</div>-->
                        <!--</figcaption>-->
                    <!--</li>-->
                    <!--</figure>-->
                    <li>豆豉排骨<span>&nbsp;</span>
                        <span class="ex-size">中/热</span>
                        <span class="isMine ex-right"><img class="check-yes" src="/images/source/checkmark-circle.png"/></span>
                        <span class="ex-num ex-right">2</span>
                        <span class="ex-right">X</span>
                        <span class="ex-price ex-right">5</span>
                        <span class="who"><img src="/images/source/tag-white.png" /><span class="who-name">test</span></span>
                    </li>
                    <!--<li><span></span>豆豉排骨<span>&nbsp;</span><span class="ex-size">小</span><span></span></span><span class="who-test"><img src="/images/source/tag-white.png" />test</span></li>-->
                    <li class="new-item">及第粥<a href="#0" data-effeckt-tooltip-text="I appear on right." class="effeckt-tooltip" data-effeckt-tooltip-type="bubble" data-effeckt-tooltip-position="right">example three</a><span></span></li>

                </ul>
                <div id="order-button-wrap">
                    <button id="order-button"  class="effeckt-button" data-effeckt-type="fill-from-left">
                    <span class="label">确定了</span></button>
                </div>

            </div>

        </div>
    </div>

</div>



<div id="box-center">
    <div id="center-content" >




        <div class="category clear-both"><img src="/images/source/category1.png">招牌菜</div>
        <div class="effeckt effeckt-captions group">
            <div class="all-captions-wrap">
                <ul>
                    <li class="product">
                        <div class="product-box">
                            <div class="introduction">
                                <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                    <img src="/images/source/order.png" alt="" >
                                    <figcaption>
                                        <div class="effeckt-figcaption-wrap">
                                            <h3>简介</h3>
                                            <p>滑Q的仙草搭配濃醇的奶茶，帶來絕對多層次的口感享受。</p>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="clear-both">
                                    <div class="select">
                                        <span class="se-size">
                                            <a href="javascript:void(0);">
                                                <img class="small se" src="/images/source/small-off.png" onmouseover="this.src='/images/source/small-on.png';" onmouseout="this.src='/images/source/small-off.png';"/>
                                            </a>
                                            <a href="javascript:void(0);">
                                                <img class="middle se" src="/images/source/middle-off.png" onmouseover="this.src='/images/source/middle-on.png';" onmouseout="this.src='/images/source/middle-off.png';"/>
                                            </a>
                                            <a href="javascript:void(0);">
                                                <img class="big se" src="/images/source/big-off.png" onmouseover="this.src='/images/source/big-on.png';" onmouseout="this.src='/images/source/big-off.png';"/>
                                            </a>
                                            <a href="javascript:void(0);">
                                                <img class="cold se" src="/images/source/cold-off.png" onmouseover="this.src='/images/source/cold-on.png';" onmouseout="this.src='/images/source/cold-off.png';"/>
                                            </a>
                                            <a href="javascript:void(0);">
                                                <img class="hot se" src="/images/source/hot-off.png" onmouseover="this.src='/images/source/hot-on.png';" onmouseout="this.src='/images/source/hot-off.png';"/>
                                            </a>
                                        </span>
                                        <span class="se-num">
                                            <span class="sedes">来<span class="num">0</span>份</span>
                                            <a href="javascript:void(0);">
                                                <img class="minus se" src="/images/source/minus-alt-off.png" onmouseover="this.src='/images/source/minus-alt-on.png';" onmouseout="this.src='/images/source/minus-alt-off.png';"/>
                                            </a>
                                            <a href="javascript:void(0);">
                                                <img class="plus se" src="/images/source/plus-alt-off.png" onmouseover="this.src='/images/source/plus-alt-on.png';" onmouseout="this.src='/images/source/plus-alt-off.png';"/>
                                            </a>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="name clear-both">仙草冻奶茶&nbsp;￥<span class="price">9</span></div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-box">
                            <div class="introduction">
                                <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                    <img src="/images/source/order.png" alt="" >
                                    <figcaption>
                                        <div class="effeckt-figcaption-wrap">
                                            <h3>简介</h3>
                                            <p>滑Q的仙草搭配濃醇的奶茶，帶來絕對多層次的口感享受。</p>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="size clear-both">
                                    <div class="select">
                                        <span class="sedes">来<span class="num">0</span>份</span>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/minus-alt-off.png" onmouseover="this.src='/images/source/minus-alt-on.png';" onmouseout="this.src='/images/source/minus-alt-off.png';"/>
                                        </a>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/plus-alt-off.png" onmouseover="this.src='/images/source/plus-alt-on.png';" onmouseout="this.src='/images/source/plus-alt-off.png';"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="name clear-both">仙草冻奶茶&nbsp;￥<span class="price">9</span></div>
                        </div>
                    </li>


                    <li class="product">
                        <div class="product-box">
                            <div class="introduction">
                                <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                    <img src="/images/source/order.png" alt="" >
                                    <figcaption>
                                        <div class="effeckt-figcaption-wrap">
                                            <h3>简介</h3>
                                            <p>滑Q的仙草搭配濃醇的奶茶，帶來絕對多層次的口感享受。</p>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="size clear-both">
                                    <div class="select">
                                        <span class="sedes">来<span class="num">0</span>份</span>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/minus-alt-off.png" onmouseover="this.src='/images/source/minus-alt-on.png';" onmouseout="this.src='/images/source/minus-alt-off.png';"/>
                                        </a>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/plus-alt-off.png" onmouseover="this.src='/images/source/plus-alt-on.png';" onmouseout="this.src='/images/source/plus-alt-off.png';"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="name clear-both">仙草冻奶茶&nbsp;￥<span class="price">9</span></div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-box">
                            <div class="introduction">
                                <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                    <img src="/images/source/order.png" alt="" >
                                    <figcaption>
                                        <div class="effeckt-figcaption-wrap">
                                            <h3>简介</h3>
                                            <p>滑Q的仙草搭配濃醇的奶茶，帶來絕對多層次的口感享受。</p>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="size clear-both">
                                    <div class="select">
                                        <span class="sedes">来<span class="num">0</span>份</span>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/minus-alt-off.png" onmouseover="this.src='/images/source/minus-alt-on.png';" onmouseout="this.src='/images/source/minus-alt-off.png';"/>
                                        </a>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/plus-alt-off.png" onmouseover="this.src='/images/source/plus-alt-on.png';" onmouseout="this.src='/images/source/plus-alt-off.png';"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="name clear-both">仙草冻奶茶&nbsp;￥
                                <span class="price">/10</span>
                                <span class="price">/12</span>
                                <span class="price">/15</span>
                                <span productid="521b2c2b1ee7cee521000001" class="choice-button-wrap">
                                    <button class="choice-button effeckt-button modal2-button" data-effeckt-modal-type="modal-16" data-effeckt-type="fill-from-left">
                                    <span class="label">选好了</span></button>
                                    <button class="modal2-button" data-effeckt-modal-type="modal-16">Blur</button>
                                </span>

                            </div>
                        </div>
                    </li>



                </ul>
            </div>
        </div>





        <div class="category clear-both"><img src="/images/source/category1.png">招牌菜</div>
        <div class="effeckt effeckt-captions group">
            <div class="all-captions-wrap">
                <ul>
                    <li class="product">
                        <div class="product-box">
                            <div class="introduction">
                                <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                    <img src="/images/source/order.png" alt="" >
                                    <figcaption>
                                        <div class="effeckt-figcaption-wrap">
                                            <h3>简介</h3>
                                            <p>滑Q的仙草搭配濃醇的奶茶，帶來絕對多層次的口感享受。</p>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="size clear-both">
                                    <div class="select">
                                        <span class="sedes">来<span class="num">0</span>份</span>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/minus-alt-off.png" onmouseover="this.src='/images/source/minus-alt-on.png';" onmouseout="this.src='/images/source/minus-alt-off.png';"/>
                                        </a>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/plus-alt-off.png" onmouseover="this.src='/images/source/plus-alt-on.png';" onmouseout="this.src='/images/source/plus-alt-off.png';"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="name clear-both">仙草冻奶茶&nbsp;￥<span class="price">9</span></div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-box">
                            <div class="introduction">
                                <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                    <img src="/images/source/order.png" alt="" >
                                    <figcaption>
                                        <div class="effeckt-figcaption-wrap">
                                            <h3>简介</h3>
                                            <p>滑Q的仙草搭配濃醇的奶茶，帶來絕對多層次的口感享受。</p>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="size clear-both">
                                    <div class="select">
                                        <span class="sedes">来<span class="num">0</span>份</span>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/minus-alt-off.png" onmouseover="this.src='/images/source/minus-alt-on.png';" onmouseout="this.src='/images/source/minus-alt-off.png';"/>
                                        </a>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/plus-alt-off.png" onmouseover="this.src='/images/source/plus-alt-on.png';" onmouseout="this.src='/images/source/plus-alt-off.png';"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="name clear-both">仙草冻奶茶&nbsp;￥<span class="price">9</span></div>
                        </div>
                    </li>


                    <li class="product">
                        <div class="product-box">
                            <div class="introduction">
                                <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                    <img src="/images/source/order.png" alt="" >
                                    <figcaption>
                                        <div class="effeckt-figcaption-wrap">
                                            <h3>简介</h3>
                                            <p>滑Q的仙草搭配濃醇的奶茶，帶來絕對多層次的口感享受。</p>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="size clear-both">
                                    <div class="select">
                                        <span class="sedes">来<span class="num">0</span>份</span>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/minus-alt-off.png" onmouseover="this.src='/images/source/minus-alt-on.png';" onmouseout="this.src='/images/source/minus-alt-off.png';"/>
                                        </a>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/plus-alt-off.png" onmouseover="this.src='/images/source/plus-alt-on.png';" onmouseout="this.src='/images/source/plus-alt-off.png';"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="name clear-both">仙草冻奶茶&nbsp;￥<span class="price">9</span></div>
                        </div>
                    </li>
                    <li class="product">
                        <div class="product-box">
                            <div class="introduction">
                                <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-5">
                                    <img src="/images/source/order.png" alt="" >
                                    <figcaption>
                                        <div class="effeckt-figcaption-wrap">
                                            <h3>简介</h3>
                                            <p>滑Q的仙草搭配濃醇的奶茶，帶來絕對多層次的口感享受。</p>
                                        </div>
                                    </figcaption>
                                </figure>
                                <div class="size clear-both">
                                    <div class="select">
                                        <span class="sedes">来<span class="num">0</span>份</span>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/minus-alt-off.png" onmouseover="this.src='/images/source/minus-alt-on.png';" onmouseout="this.src='/images/source/minus-alt-off.png';"/>
                                        </a>
                                        <a href="javascript:void(0);">
                                            <img class="se" src="/images/source/plus-alt-off.png" onmouseover="this.src='/images/source/plus-alt-on.png';" onmouseout="this.src='/images/source/plus-alt-off.png';"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="name clear-both">仙草冻奶茶&nbsp;￥<span class="price">9</span></div>
                        </div>
                    </li>



                </ul>
            </div>
        </div>





    </div>
</div>









</body>
</html>