body {
    margin: 0px;
    background-image: url(/images/source/background-image.png);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.clear-both {
    clear: both;
}


div#head {
    position: static;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    min-height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    /*z-index: 10;*/

}

div#logo {
    padding-top: 14px;
    margin-left: 18%;

    font-size: 25px;
    color: rgba(255, 255, 255, 1);
}
div#logo:hover {
    color: rgba(255, 255, 255, 0.6);
}

/******** box-left ********/
#box-left {
    width: 20%;
    float: left;
}

#navigation {
    margin-top: 35px;
    float: right;
    width: 220px;
}

#navigation ul {
    list-style-type: none;
}

#navigation .distance {
    visibility:hidden;
}

.nav-content {
    margin-left: 30px;
}

.nav-ul-title {
    padding-bottom: 3px;
    border-bottom: 2px groove rgba(0, 0, 0, 0.2);

    font-family: "arial","sans-serif";
    font-size: 16px;
}

#navigation li {
    width: 100%;

}

.nav-ul-li {
    border-bottom: 1px groove rgba(0, 0, 0, 0.2);
    padding-top: 8px;
    padding-bottom: 6px;


}
.nav-ul-li a {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
}


#order {
    margin-top: 50px;
    margin-left: 30px;
}

#order a {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}


/******** box-center ********/
#box-center {
    width: 75%;
    float: left;
}

#center-content {
    margin: 35px;
}





/*#navigation-content {*/
    /*float: right;*/

    /*margin-right: 30px;*/
    /*margin-top: 10px;*/
    /*width: 165px;*/

    /*padding: 10px;*/

    /*border-top: solid;*/
    /*border-bottom-left-radius: 6px;*/
    /*border-bottom-right-radius: 6px;*/

    /*-moz-box-shadow: 0 0 10px #777777;*/
    /*-webkit-box-shadow: 0 0 10px #777777;*/
    /*box-shadow: 0 0 10px #777777;*/

/*}*/